<h1>Editing <%=@student.first_name%> <%=@student.last_name%></h1>

<form action="/dojos/<%=@dojo.id%>/students/<%=@student.id%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="put">
    <p>First Name: <input type="text" name="first_name" value="<%=@student.first_name%>"></p>
    <p>Last Name: <input type="text" name="last_name" value="<%=@student.last_name%>"></p>
    <p>Email: <input type="text" name="email" value="<%=@student.email%>"></p>
    <p>Dojo: 
        <select name="location">
            <option value="<%=@dojo.id%>"><%=@dojo.city%></option>
        </select>
    </p>
    <input type="submit" value="Update">
</form>

<a href="/dojos">Home</a> | <a href="/dojos/<%=@dojo.id%>/students/<%=@student.id%>"><%=@student.first_name%></a>